.version.index /* version checker */
{
	color: #0000FA;
	background-color: #D70A91;
}

@-ms-viewport
{
	width: 600px;
}

@-webkit-viewport
{
	width: 600px;
}

@-o-viewport
{
	width: 600px;
}

@-moz-viewport
{
	width: 600px;
}

@viewport
{
	width: 600px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 600px;
	min-height: 132px;
	border-style: none;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../images/background.png") repeat left top;
	background:no-repeat;
	background-size:cover;
}

#slideshowu1746
{
	z-index: 39;
	width: 0.01px;
	height: 99px;
	position: relative;
	margin-right: -10000px;
}

#u1757
{
	position: absolute;
	width: 600px;
	height: 99px;
	background-color: transparent;
}

#u1757popup
{
	z-index: 40;
}

#u1764
{
	z-index: 41;
	width: 600px;
	height: 99px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1762
{
	z-index: 43;
	width: 600px;
	height: 99px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1760
{
	z-index: 45;
	width: 600px;
	height: 99px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1758
{
	z-index: 47;
	width: 600px;
	height: 99px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#menuu1703
{
	z-index: 2;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1732
{
	width: 73px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1735
{
	width: 73px;
	background-color: #FF0000;
	padding-bottom: 10px;
	position: relative;
}

#u1735:hover
{
	background-color: #FFFFFF;
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1735:active
{
	background-color: #6B6B6B;
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1735.MuseMenuActive
{
	background-color: #E02B00;
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u1738-4
{
	width: 48px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u1735:hover #u1738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1735:active #u1738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1735.MuseMenuActive #u1738-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u1735:hover #u1738-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1735:active #u1738-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1739
{
	width: 81px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1742
{
	width: 81px;
	background-color: #FF0000;
	padding-bottom: 10px;
	position: relative;
}

#u1742:hover
{
	background-color: #FFFFFF;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1742:active
{
	background-color: #6B6B6B;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1742.MuseMenuActive
{
	background-color: #E02B00;
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u1745-4
{
	width: 56px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u1742:hover #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u1742:active #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u1742.MuseMenuActive #u1745-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u1742:hover #u1745-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1742:active #u1745-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1725
{
	width: 80px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 158px;
}

#u1728
{
	width: 80px;
	background-color: #FF0000;
	padding-bottom: 10px;
	position: relative;
}

#u1728:hover
{
	background-color: #FFFFFF;
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u1728:active
{
	background-color: #6B6B6B;
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u1728.MuseMenuActive
{
	background-color: #E02B00;
	width: 80px;
	min-height: 0px;
	margin: 0px;
}

#u1730-4
{
	width: 55px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u1728:hover #u1730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1728:active #u1730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1728.MuseMenuActive #u1730-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1728:hover #u1730-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1728:active #u1730-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1711
{
	width: 116px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 240px;
}

#u1712
{
	width: 116px;
	background-color: #FF0000;
	padding-bottom: 10px;
	position: relative;
}

#u1712:hover
{
	background-color: #FFFFFF;
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1712:active
{
	background-color: #6B6B6B;
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1715-4
{
	width: 91px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u1712:hover #u1715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u1712:active #u1715-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u1712:hover #u1715-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1712:active #u1715-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1718
{
	width: 124px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 358px;
}

#u1719
{
	width: 124px;
	background-color: #FF0000;
	padding-bottom: 10px;
	position: relative;
}

#u1719:hover
{
	background-color: #FFFFFF;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u1719:active
{
	background-color: #6B6B6B;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u1719.MuseMenuActive
{
	background-color: #E02B00;
	width: 124px;
	min-height: 0px;
	margin: 0px;
}

#u1722-4
{
	width: 99px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u1719:hover #u1722-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1719:active #u1722-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1719.MuseMenuActive #u1722-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 99px;
	margin: 0px -10000px 0px 0px;
}

#u1719:hover #u1722-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1719:active #u1722-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1704
{
	width: 116px;
	min-height: 32px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u1705
{
	width: 116px;
	background-color: #FF0000;
	padding-bottom: 10px;
	position: relative;
}

#u1705:hover
{
	background-color: #FFFFFF;
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1705:active
{
	background-color: #6B6B6B;
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1712.MuseMenuActive,#u1705.MuseMenuActive
{
	background-color: #E02B00;
	width: 116px;
	min-height: 0px;
	margin: 0px;
}

#u1708-4
{
	width: 91px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	left: 12px;
}

#u1712.MuseMenuActive #u1715-4,#u1705:hover #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u1705:active #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u1705.MuseMenuActive #u1708-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 91px;
	margin: 0px -10000px 0px 0px;
}

#u1705:hover #u1708-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1705:active #u1708-4 p
{
	color: #FF0000;
	visibility: inherit;
}

#u1735.MuseMenuActive #u1738-4 p,#u1742.MuseMenuActive #u1745-4 p,#u1728.MuseMenuActive #u1730-4 p,#u1712.MuseMenuActive #u1715-4 p,#u1719.MuseMenuActive #u1722-4 p,#u1705.MuseMenuActive #u1708-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#menuu1703-bw
{
	z-index: 2;
	min-height: 32px;
	margin-top: 100px;
}

body
{
	position: relative;
	min-width: 600px;
}

#page .verticalspacer
{
	clear: both;
}

